  {
    "env": {
      "production": {
        "plugins": [
        "transform-object-rest-spread",
        "transform-regenerator"
        ],
        "presets" : [
          "env",
          "react",
          "stage-0"
        ]
      },
      "development": {
        "plugins": [
          "transform-object-rest-spread",
          "transform-regenerator",
          "react-hot-loader/babel" 
        ],
      "presets" : [
        "env",
        "react",
        "stage-0"
      ]
      },
      "test": {
        "plugins": [
          "transform-object-rest-spread",
          "transform-regenerator",
          "react-hot-loader/babel" 
        ],
      "presets" : [
        "env",
        "react",
        "stage-0"
      ]
      }
    }
  }