// #contact-contain {
//     position: fixed;
//     bottom: 0;
//     height: 50px;
//     width: 100%;
//     border-radius: 3px;
//     background-color: #FFFFFF;
//     text-align: center;
//     opacity: .8;
//     z-index: 5;
//     transition: height 400ms ease-in;
// }

//  .contacts-info {
//     font-weight: bold;
// }
      
// #contact-contain.slideOut {
//     height:125px;
// }

#contact {
    grid-column: line3 / line4;
    grid-row: hero-end / article-end;
}

#contact-form {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 2em;
    .form-input {
        background: transparent;
        border: none;
        resize: none;
        margin: .5em;
    }
    #form-button {
        display: block;
        border-radius: 50px;
        height:50px;
        margin: 1em;
        font-family: $primary-system-fts;
        font-size: 1.2em;
        color: $primary-color;
        width: 200px;
        box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.55);
    }
}

textarea {
    border: none;
}



#contact-section {
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-radius: 0px 0px 5px 5px;
}

#contact-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: skyblue;
    border-radius: 5px 5px 0px 0px;
}

#contact-header-img {
    margin: 1em;
}

#contact-header {
    font-size: 2em;
    font-family: $header-font;
    color: $primary-color;
}

#contact-full {
    box-shadow: 10px 13px 16px -6px rgba(0,0,0,0.45);
    border-radius: 5px;
}

#info {
    display: flex;
    flex-direction: column;
    grid-column: line3/ line4;
    grid-row: nav-end/ hero-end;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    text-align: center;
    line-height: 1.5em;
}

#info-portrait {
    border-radius: 50%;
    height: 9.5em;
    width: 8.5em;
}


  