/* FONT */
@import url('https://fonts.googleapis.com/css?family=Nunito');
$header-font: 'Nunito';
$nav-font-size: 1em;
/* COLOR */

$primary-color: #39383a;
$primary-ft-size: 1.5em;
$primary-bgc: #E7E7E7;
$chris-red: #AB2835;

