
/*--------------------------------------------------------------
Partial Imports
--------------------------------------------------------------*/
@import 'variables';
@import 'mixins';
@import 'contact';

/*--------------------------------------------------------------
CSS Reset
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  color: $primary-color;
  background-color: $primary-bgc;
  @include text-size(100%);
}

body {
	margin: 0;
}

// img {
// 	display: block;
// 	border: 0;
// 	width: 100%;
// 	height: auto;
// }

/*--------------------------------------------------------------
Mobile
--------------------------------------------------------------*/

#root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header"
                        "hero"
                        "mid"
                        "main"
                        "about"
                        "contact";
}

#nav-contain {
	display: flex;
	flex-direction: column;
  align-items: center;
  padding-left: 0px;
}

.nav {
  text-decoration: none;
  list-style: none;   
}

#logo {
  grid-area: header;
  height: 23em;
  width: 23em;
  align-self: center;
}

#About {
  display: none;
}

.header-one {
  font-size: 2em;
  text-align: center;
}

#red-dot {
  color: #AB2835;
}

#hero {
  grid-area: hero;
  text-align: center;
}

#mid-sec {
  grid-area: mid;
}
main {
  grid-area: main;
}





// @mixin headers-1{
//   line-height: 1.2em;
//   font-size: 4.7em;
// }

// * {
//   font-family: $primary-font;
//   color: $primary-color;
//   background-color: $primary-bgc;
//   //normalize
//   // margin: 0;
//   // padding: 0;
//   // height: 100%;
//   // margin: 0;
// }

