* {
  color: #39383a;
  background-color:#f1fffd;
}

#nav-contain {
  display: flex;
  justify-content: space-between;
}

.nav {
  text-decoration: none;
  list-style: none;
  font-size: 32px;
}

h1 {
  font-size: 299px;
}