$primary-color: #39383a;
$font-size: 18px;

* {
  color: $primary-color;
  background-color:#f1fffd;
  padding: 0 0.2em;
}

#nav-contain {
  display: flex;
  justify-content: space-between;
}

.nav {
  text-decoration: none;
  list-style: none;
  font-size: 32px;
}

h1 {
  font-size: 299px;
}